.container {
  width: 100%;
}

.spinner {
  border: 8px solid #e7e7e7;
  border-radius: 50%;
  border-top: 8px solid var(--brand-green);
  width: 80px;
  height: 80px;
  margin: 64px auto;
  animation: rodar 2s linear infinite;
}

@keyframes rodar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
