.button {
  border-radius: 40px;
  padding: 10px 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonSecondary {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.button:hover {
  opacity: 0.7;
}

.buttonOutline {
  border: 1px solid var(--brand-green);
  background-color: transparent;
  color: var(--brand-green);
}

.fullWidth {
  width: 100%;
}
