.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.content {
  padding: 40px 126px;
  max-width: 100%;
  display: flex;
  gap: 50px;
}

.containerInfo {
  background-color: var(--brand-green-light-02);
}

.containerMiniImages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageMain {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid var(--brand-green);
  background-color: var(--white);
  object-fit: contain;
}

.contentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: var(--brand-green);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-paragraph);
}

.price {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: var(--gray-paragraph);
}

@media (max-width: 1024px) {
  .content {
    padding: 24px;
    flex-direction: column;
    gap: 20px;
  }

  .containerMiniImages {
    flex-direction: row;
    justify-content: space-around;
  }

  .imageMain {
    width: 100%;
    height: auto;
    max-height: 300px;
  }

  .contentInfo {
    gap: 20px;
    align-items: center;
  }

  .title {
    text-align: center;
    font-size: 28px;
    line-height: 30px;
  }
}

.titleEspecificacoes {
  color: var(--brand-green);
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.08em;
}

.containerEspecificacoes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
