.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
}

.default {
  color: var(--gray-headline);
}

.error {
  color: var(--brand-color-error);
}

.warn {
  color: var(--brand-color-warn);
}

.info {
  color: var(--brand-color-info);
}
